@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

:root {
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey-700: hsl(0, 0%, 20%);
  --Grey-800: hsl(0, 0%, 12%);
  --Grey-900: hsl(0, 0%, 8%);
}

body {
  font-size: 14px;
  font-family: "Inter";
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--Grey-900); /* Задний фон */
  margin: 0;
}

main {
  min-width: 350px;
  background: var(--Grey-800); /* Цвет карточки */
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.profile img {
  width: 80px;
  border-radius: 50%;
  padding: 10px;
}

.light-text {
  color: var(--White);
  font-weight: 300;
  padding: 10px;
}

.name {
  color: var(--White);
  font-weight: 700;
  font-size: 20px;
  margin: 15px 0;
  margin-bottom: 5px;
}

span {
  color: var(--Green);
}

.socials {
  display: flex;
  flex-direction: column; /* Размещает кнопки в столбец */
  align-items: center; /* Центрирует кнопки по горизонтали */
  gap: 20px; /* Отступы между кнопками */
}

.social {
  width: 100%; /* Чтобы кнопки были одинаковой ширины */
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: var(--Grey-700);
  color: var(--Grey-900);
  font-weight: 600;
  cursor: pointer;
}

.social a {
  text-decoration: none;
  color: var(--White);
  font-weight: 600;
}

.social:hover a {
  color: var(--Green); /* Цвет текста меняется на темный при ховере */
}
